body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f1f1f0;
}

.container {
  display: flex;
  max-width: 1500px;
  margin: 40px auto;
  gap: 20px;
  padding: 10px;
}

.left {
  width: 30%;
  background: #d2e4e3;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px auto;
  display: block;
  border: 4px solid white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}




h2 {
  margin: 0;
  font-size: 24px;
  color: #222;
}

.subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

.section {
  margin-top: 20px;
}

.section h3 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #222;
}

.section p, .section li {
  font-size: 14px;
  color: #333;
}

.section ul {
  padding-left: 20px
  ;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.card h3 {
  margin-top: 0;
}
.card:active {
  transform: scale(0.98);
  transition: transform 0.1s ease;
}

